* {
  margin: 0;
}

body {
  background-color: white;
  text-align: center;
  font-family: Merriweather, serif;
  color: #40514e;
}

.Top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 200px;
  height: 620px;
  margin: 0;
}

.bottom-container {
  margin: 20px 0 0 0;
  background-color: #66bfbf;
  padding: 50px 0 20px 0;
}

.cloud-image {
  display: inline-block;
}

.cloud-1 {
  position: absolute;
  right: 300px;
  top: 100px;
}

.cloud-2 {
  position: absolute;
  left: 300px;
  top: 400px;
}

.profile-img {
  width: 15rem;
  height: 16rem;
  border-radius: 50%;
}

h1 {
  /* margin-top: 0; */
  font-family: Sacramento, cursive;
  font-size: 4.69rem;
  color: #66bfbf;
  margin-bottom: 0;
}

.pro {
  font-style: oblique;
  text-decoration: underline;
}

h2 {
  font-family: Merriweather, sans-serif;
  font-size: 2rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #11999e;
}

.profile {
  width: 50%;
  padding-top: 10px;
  margin: 30px auto;
}

.text-middle {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-computer-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.skill-cycling-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}

hr {
  border: dotted #eaf6f6;
  border-width: 6px;
  width: 25%;
  border-bottom: none;
  margin: 75px auto;
}

.text-contact {
  margin: 30px auto;
}

.contact-me {
  margin: 50px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4a);
  text-decoration: none;
}

a {
  color: #11999e;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.copyright-text {
  line-height: 3;
  margin: 10px;
  color: #eaf6f6;
}

.port-container {
  align-items: center;
}

.work-list {
  list-style: none;
  display: flex;
  width: 1350px;
  margin: auto;
  align-items: center;
}

.work-li {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.text-works {
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
}

.site-img {
  border-radius: 2%;
  width: 400px;
  height: 230px;
}

.work-list-react {
  list-style: none;
  display: flex;
  width: 900px;
  margin: auto;
  align-items: center;
}
